.btn-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.btn {
    border: none;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    Font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}

.btn-facebook {
    background-color: #305DB8;
}

.btn-facebook:hover {
    background-color: #022263;
}

.btn-google {
    background-color: #DF4A32;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.btn span {
    border-left: 1px solid rgba(43, 13, 9, 0.1);

    width: 110px;
}

.green-btn {
    background-color: rgba(60, 184, 120, 0.8);
    color: #FFFFFF;
    width: 324px;
    height: 46px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    Font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 16px;
    border: none;
    margin-top: 20px;
    margin-bottom: 38px;
}

.green-btn:hover {
    background-color: #01813F;
}