.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form input {

  border: 1px solid #BEBEBE;

}

.input {
  margin-top: 15px;
  width: 286px;
  height: 14px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 87%;
  padding: 15px 19px;
  color: #434343;
  border: 1px solid #BEBEBE;
  letter-spacing: 0.04em;
  background-color:
    rgba(255, 255, 255, 1);
}

.input::placeholder {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  color: #BEBEBE;

}

.input:focus {

  outline: 0;
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.4));

}

.input input::-webkit-input-placeholder {

  color: #BEBEBE;
  border: 1px solid #BEBEBE;
}

.input input::-moz-placeholder {

  color: #BEBEBE;
  border: 1px solid #BEBEBE;
}

.input input:-ms-input-placeholder {

  color: #BEBEBE;
  border: 1px solid #BEBEBE;
}

.input input:-moz-placeholder {

  color: #BEBEBE;
  border: 1px solid #BEBEBE;
}