body {
    margin: 0;
    padding: 0;
    margin: 0 auto;



}

.page {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
  

}

.container {
    width: 1366px;
    margin: 0 auto;
}

.menu-link-wrapper {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    padding: 18px 79px;
}

.page-header {

    background-color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.25));
    transition-duration: 0.5s;

}

.page-header:hover {
    opacity: 0.9;
}

.main-section {
    height: 100vh;
      display: flex;
      align-items: center;
    justify-content: center;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    Font-size: 22px;
    line-height: 87%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-transform: uppercase;
}

.logo:hover {
    color: #236d47;
}

.span-login {
    font-family: 'Ubuntu', sans-serif;
    Font-size: 14px;
    line-height: 87%;
    color: rgba(255, 255, 255, 1);
    padding: 2px;
}

.span-login-link {
    text-decoration: none;
}

.span-login-link:hover {
    color: #236d47;
}

.menu-link {
    margin-right: 25px;
}

.class-login {
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-link:hover svg path {
    fill: #236d47;
}

.registration-form {
    margin: 0 auto;
    width: 444px;


    background-color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 4px 18px rgba(0, 0, 0, 0.25));
    margin: 53px auto;
}

.form-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    position: relative;
}

.form-login:before {
    width: 16px;
    height: 16px;
    border: 1px solid #3CB878;
    background-color: #3CB878;
    position: absolute;
    left: -60px;
    content: '';
}

.component-wrapper {
    width: 324px;
    margin: 0 auto;
}

.form-span-login {
    font-family: 'Ubuntu', sans-serif;
    Font-size: 20px;
    line-height: 87%;
    color: #434343;
}

.form-span-login-link {
    font-family: 'Ubuntu', sans-serif;
    Font-size: 14px;
    line-height: 87%;
    color: #3CB878;
    text-decoration: none;
}

.form-span-login-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.span-or {

    margin-top: 32px;
    color: #848484;
    font-family: 'Ubuntu', sans-serif;
    Font-size: 14px;
    line-height: 87%;
    position: relative;
}

.span-or:before {
    display: block;
    position: absolute;
    width: 152px;
    content: '';
    /* border: 1px solid #F2F2F2; */
    border: 1px solid #BEBEBE;
    ;

    top: 50%;
    right: 18px;
}

.span-or:after {
    display: block;
    position: absolute;
    width: 152px;
    content: '';
    /* border: 1px solid #F2F2F2; */
    border: 1px solid #BEBEBE;
    top: 50%;
    left: 18px;
}

.element-or {
    text-align: center;
    margin-top: 32px;

}

.checkbox-wrapper {
    position: relative;
}

.default-checkbox {
    opacity: 0;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #BEBEBE;
    background-color: rgba(0, 0, 0, 0.0001);
}

.default-checkbox:checked+.custom-checkbox {
    background-image: url("../img/Vector 1.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.checkbox-text {
    font-family: 'Ubuntu', sans-serif;
    Font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.checkbox-link {
    font-family: 'Ubuntu', sans-serif;
    Font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
    padding: 3px;
}

.component-wrapper-flex label {
    display: flex;
}

.component-wrapper-flex {
    display: flex;
    align-items: center;
    margin-top: 27px;
}
